* {
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: rgb(23, 204, 144);
    display: flex;
    margin: 30px;
    padding: 20px;
}

.rows .columns:hover {
    background-color: black;
}

.rows .columns {
    padding: 8px;
    border: 1px;
    background-color: blue;
    border-style: solid;
}

